html, body, footer {
  margin: 0;
}

html, body {
  height: 100%;
}

.full-container {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -200px;
}

.full-container:after {
  content: "";
  display: block;
}

footer, .full-container:after {
  /* .push must be the same height as footer */
  height: 200px;
}

footer {
  background-color: #333;
  color: #FFF;
}

.footer-div {
  margin: 2em 0;
}

.footer-div h2 {
  padding: 5px 0;
}

.footer-div ul {
  padding: 1em 0;

  list-style: none;
}

.footer-div ul li a, .footer-div ul li a:visited {
  color: #FFF;

  text-decoration: none;
}
