html, body {
  margin: 0;
  padding: 0;

  font-size: 1em;
}

body {
  font-family: 'Open Sans', serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5em
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

header {
  height: 4em;
  border-bottom: 1px solid #EEE;
}

a.site-title, a:visited.site-title {
  margin: 0;

  color: #666;

  font-size: 3em;
  line-height: 4rem;
  text-decoration: none;
}

a.site-title:hover {
  color: #222;
}

nav ul {
  line-height: 4em;
  list-style: none;
}

nav ul li {
  display: inline-block;

  border-right: 1px solid #EEE;
}

nav ul li:last-child {
  border-right: 0;
}

nav ul li a, nav ul li a:visited {
  padding: 1em 1em;

  color: #222;

  text-decoration: none;
  text-transform: uppercase;
}

nav ul li a:hover {
  color: #D84A14;
}

.pull-right {
  float: right;
}

.pull-right:after {
  content: "";
  display: table;
  clear: both;
}

.center {
  margin: 0 auto;
}

.heading {
  display: block;
  padding: 1em 0;

  font-size: 3em;
  font-weight: 200;
}

ul, ol{
  margin:0;
  padding:0;
}

.orange-border {
  border-bottom: 1px solid #D84A14;
}

.gray-border {
  border-bottom: 1px solid #CCC;
}
