html, body {
  font-size: 1em;
  height: 100%; /* Make Stick footer to the bottom of the page */
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5em
}

header {
  height: 4em;
  border-bottom: 1px solid #EEE;
}

a.site-title, a:visited.site-title {
  margin: 0;

  color: #666;

  font-size: 3em;
  line-height: 4rem;
  text-decoration: none;
}

a.site-title:hover {
  color: #222;
}

nav ul {
  line-height: 4em;
  list-style: none;
}

nav ul li {
  display: inline-block;
  border-right: 1px solid #EEE;
}

nav ul li:last-child {
  border-right: 0;
}

nav ul li a, nav ul li a:visited {
  padding: 1em 1em;

  color: #222;

  text-decoration: none;
  text-transform: uppercase;
}

nav ul li a:hover {
  color: #D84A14;
}

.pull-right {
  float: right;
}

.pull-right:after {
  content: "";
  display: table;
  clear: both;
}

ul, ol{
  margin:0;
  padding:0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

footer {
  height: 250px; /* When this is changed. Change '.container' -ve margin as well. */

  background-color: #333;
  color: #FFF;
}

/* Stick Footer to the bottom */
.container {
  min-height: 100%;
  margin: 0 auto -250px; /* the bottom margin is the negative value of the footer's height */
}

.footer-div {
  margin: 2em 0;
}

.footer-div ul {
  padding: 1em 0;

  list-style: none;
}

.footer-div ul li a, .footer-div ul li a:visited {
  color: #FFF;

  text-decoration: none;
}

.orange-border {
  border-bottom: 1px solid #D84A14;
}

.gray-border {
  border-bottom: 1px solid #CCC;
}
